* {
  text-align: center;
}
h1 {
  color:#cf5dc1; 
  text-align: center;
}
h2 {
  color:#d154a3;
  text-align: center;
}
 p {
  color:#855dc9;
  text-align: center;
}
  
* {
  font-family: "Audiowide", sans-serif;
}


<p class="font-effect-neon">Neon Effect</p>
<h1 class="font-effect-neon">Neon Effect</h1>
<h2 class="font-effect-neon">Neon Effect</h1>
